html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.wrapper__content {
    width: 100%;
    flex: 1 0 auto;
}

.wrapper__footer {
    width: 100%;
    flex: 0 0 auto;
}

.footer {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

:root {
    --menu-heigth: 50px;
    --color-viber: #7360f1;
    --color-whatsapp: #00e676;
    --color-telegram: #3390ec;
    --color-discord: #5764f2;
    --color-linked-in: #0073b2;
}

* {
    scroll-margin-top: var(--menu-heigth);
}

.menu__div_fixed_content {
    height: var(--menu-heigth);
}

.link__a--viber {
    background-color: var(--color-viber);
    border-color: var(--color-viber);
}

.link__a--whatsapp {
    background-color: var(--color-whatsapp);
    border-color: var(--color-whatsapp);
}

.link__a--telegram {
    background-color: var(--color-telegram);
    border-color: var(--color-telegram);
}

.link__a--linked-in {
    background-color: var(--color-linked-in);
    border-color: var(--color-linked-in);
}

.link__a--discord {
    background-color: var(--color-discord);
    border-color: var(--color-discord);
}

.drive_license__div {
    display: flex;
    gap: 8px;
}
